---
layout: profilepage
title: Profile
permalink: "/profile/"
---
<div class="container">

  <h3 class="mb-3 mt-5 text-center">Jayne Shin</h3>
  <p class="text-center text-muted mb-5" style="font-size: 15px;"> 경영하는 개발자. 👨‍💻  To make the world better place, I do business and develop software.  </p>
  {% include profile/jayneshin.html %}
  <h3 class="mb-5 mt-5 text-center">Career</h3>
  {% include profile/career.html %}
  <h3 class="mb-5 mt-5 text-center">Education</h3>
  {% include profile/education.html %}
  <h3 class="mb-5 mt-5 text-center">Projects</h3>
  {%include profile/projects.html %}
  <h3 class="mb-5 mt-5 text-center">Stacks</h3>
  {%include profile/stackshare.html %}
  <!-- <h3 class="mb-5 mt-5 text-center">Reads</h3>
  {% include profile/books.html %}
  <h3 class="mb-5 mt-5 text-center">Lectures in University</h3>
  {% include profile/lectures.html %} -->

</div>
