<style>
.card{
  width:36vw ;

  width:270px;
  border-radius:1rem;
}
.card-body{
  height: 40vw;

  height: 300px;
  width: 100%;
  display: block;
  background-color: #00010299;
  background-blend-mode: color;
  background-size: cover;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
</style>


<div class="card mx-auto text-center jaynewho-shadow-effect">
  <!-- <div class="card-header" style="height: 40px;">{{include.project.date | date_to_long_string}}</div> -->
  <div class="card-body" style="background-image:url('{{include.project.mainpic}}'); border-radius: 5px;">
    <!-- <a href="{{include.project.url}}"> -->
      <h1 class="card-title text-white" style="font-size : 1.4rem;">{{include.project.title}}</h1>
    <!-- </a> -->
    <!---p class="card-text text-secondary">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p-->
    <p class="card-text text-white">
      <p class="text-muted">{{include.project.categories}}</p>
    </p>
    <p class="card-text text-white">
      Tags |
      {%for tag in include.project.tags %}
      <a href="#" class="badge badge-danger">{{tag}}</a>
      {%endfor%}
    </p>
  </div>
</div>
