<style>
.card{
  width:85% ;
  max-width:700px;
  border-radius: 1rem;
}
.card-body{
  min-height: 300px;
  width: 100%;
  display: block;
  background-color: #00010299;
  background-blend-mode: color;
  background-size: cover;
  border-radius: 1rem ;
}
</style>

<div class="card mt-5 mb-5 mx-auto text-center">
  <div class="card-body" style="background-image:url('{{include.post.mainpic}}');">
    <a href="{{include.post.url}}"><h1 class="card-title text-white" style="font-size : 1.9rem;">{{include.post.title}}</h1></a>
    <!---p class="card-text text-secondary">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p-->
    <p class="card-text text-white">
      <p class="text-muted">{{include.post.categories}} | {{include.post.date | date_to_long_string}}</p>
    </p>
    <p class="card-text text-white">
      Tags |
      {%for tag in include.post.tags %}
      <a href="#" class="badge badge-primary">{{tag}}</a>
      {%endfor%}
    </p>

  </div>
</div>
