---
layout : base
---

<style>
/*post titles style*/
.post h1,h2,h3,h4,h5,h6 {
  color: #3f71f4;
}
.post h1 {font-size: 2.0rem;}
.post h2 {font-size: 1.8rem;}
.post h3 {font-size: 1.6rem;}
.post h4 {font-size: 1.4rem;}
.post h5 {font-size: 1.2rem;}
/*for image*/
.post img {
  max-width: 100%;
  height: auto;
}

/*for code highlighter*/
pre {
  background-color: #494b4c ;
  border-radius: 6px;
  padding: 10px;
  color : #d0d7de;
}


</style>

<div class="container-fluid text-center pt-3" style="background-image : url('{{page.mainpic}}');  background-color: #00010299; background-blend-mode: color; background-size: cover; min-height: 350px;">
  <a href="/post/"><p class="text-left md-5"><button type="button" class="btn btn-outline-secondary btn-sm d-inline text-uppercase"> < Back </button></p></a>
  <h1 class="card-title text-white" style="font-size : 2.2rem;">{{page.title}}</h1>
  <p class="card-text text-white"><p class="text-muted">{{page.categories}} | {{page.date | date_to_long_string}}</p></p>
  <p class="card-text text-white">
    Tags |
    {%for tag in page.tags %}
    <a href="#" class="badge badge-primary">{{tag}}</a>
    {%endfor%}
  </p>
</div>


<div class="post container pt-5 " style = "max-width : 750px">{{content}}</div>
